* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
}

body {
    color: #5a3718;
    font-family: sans-serif;
    background: #ff7c8b;
    font-size: 18px;
    background-image: url(../img/cute-bg.png);
    -webkit-background-size: 50%;
    background-size: 50%;
}

label {
    display: block;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.input-error {
    display: none;
    margin-top: 10px;
    margin-left: 5px;
    color: #ff7a00;
}

.header {
    margin: 30px auto 20px auto;
    max-width: 400px;
}

form {
    background: #000;
    padding: 20px;
    background: #fff4ea;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

button, .input-control {
    padding: 10px 20px;
    font-size: 18px;
    outline: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 0;
}

.input-control {
    -webkit-box-shadow: inset 0 0 5px #6f6358;
    -moz-box-shadow: inset 0 0 5px #6f6358;
    box-shadow: inset 0 0 5px #6f6358;
    background: #f1e8de;
    width: 100%;
    color: #5a3718;
    border:2px solid #fff4ea;
}

.input-control:focus {
    background: #fff6ee;
    border: 2px solid #ff586b;
    -webkit-box-shadow: inset 0 0 2px #56000a;
    -moz-box-shadow: inset 0 0 2px #56000a;
    box-shadow: inset 0 0 2px #56000a;
}

button[type="submit"] {
    background: #ff7c8b;
    color: #ffe0e3;
    width: 120px;
    font-weight: bold;
    -webkit-box-shadow: 0 1px 4px rgb(184, 28, 46);
    -moz-box-shadow: 0 1px 4px rgb(184, 28, 46);
    box-shadow: 0 1px 4px rgb(184, 28, 46);
    border: 1px solid #ff7483;
}

button[type="submit"]:hover {
    background: #ff6b7c;
    color: #fff4ea;
}

.input-wrap {
    margin-bottom: 20px;
}

.input-wrap.submit {
    margin-top: 20px;
    text-align: right;
}

.input-wrap label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

.input-wrap label:first-child {
    margin-top: 0;
}

input[type=radio] {
    margin-right: 10px;
}

.dib {
    display: inline-block;
}
