* {
    /*background: rgba(0, 0, 0, .1);*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #444;
    background: #f0f0f0;
}

h1 {
    margin-top: 0;
    text-align: center;
}

.header {
    margin-top: 30px;
}

.wrap {
    margin: 0 auto;
    max-width: 1080px;
}

.wrap-sm {
    max-width: 450px;
}

.form {
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

.form,
.input-control,
.button-control {
    border-radius: 3px;
}

.input-wrap {
    margin-bottom: 10px;
}

.input-wrap label {
    padding: 5px 0;
    display: block;
}

.input-control {
    color: #444;
    width: 100%;
}

.button-control, .input-control {
    padding: 5px 10px;
    border: 1px solid #999;
}

.input-error {
    padding-top: 5px;
    font-size:90%;
    color: #a10;
    display: none;
}
